# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/
.virtualenv/

# PyCharm specific files
../testmypackage/.idea/
*.iml
*.ipr
*.iws

# VS Code specific files
.vscode/

# Test coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Unit test / coverage results
.pytest_cache/
pytest_cache/
test_reports/
coverage/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Pyre type checker
.pyre/

# JetBrains related files
.idea/
*.iml

# macOS related files
.DS_Store
.AppleDouble
.LSOverride

# Windows related files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
